
.sidebar p {
    font-size: 0.9em;
    line-height: normal;
    padding-bottom: 4px ! important;
    color: #555 ! important;
}

.sidebar p.caption {
    color: #666 ! important;
    font-size: 0.9em;
    line-height: normal;
    padding-bottom: 4px ! important;
}

.sidebar h4 {
    color: #7D8804;
}

.sidebar a {
    font-size: 1em;
}

span.acronym {
    color:#555;
    padding-right:10px;
}

span.lsid {
    font-size:12px;
}

.institutionImage {
    padding: 10px 5px 5px 0;
    float:right;
    max-width:300px;
}

/* allow logo to rise to level of name text */
#header .aside {
    padding-top: 0;
}

/* eliminate excess space below list in map popups */
.olFramedCloudPopupContent ul {
    padding-bottom: 0;
}

/* control space in map hover */
ul.hoverPop {
    font-size: smaller;
}

/* prevent excess space after % records widget caption */
#content .section p.caption {
    padding-bottom: 0;
}

/* images for taxa breakdown
ul.taxaBreakdown li {
    height: 35px;
}*/

ul.taxaBreakdown input {
    margin-top: 11px;
}

#map-collections p {
    margin-top: 20px;
}

#map-collections {
    padding-left: 15px;
}

/*#fishBreakdown { background:url("../images/taxa/pisces.gif")  no-repeat; padding-left:40px; background-position: left;}
#birdsBreakdown { background:url("../images/taxa/aves.png") no-repeat; padding-left:40px; background-position: left;}
#frogsBreakdown { background:url("../images/taxa/amphibia.png") no-repeat; padding-left:40px; background-position: left;}
#reptilesBreakdown { background:url("../images/taxa/reptilia.png") no-repeat ; padding-left:40px; background-position: left;}
#mammalsBreakdown { background:url("../images/taxa/mammalia.png") no-repeat; padding-left:40px; background-position: left;}
#invertsBreakdown { background:url("../images/taxa/arthropoda.png") no-repeat; padding-left:40px; background-position: left;}
#plantsBreakdown { background:url("../images/taxa/flower.png") no-repeat; padding-left:40px; background-position: left;}
#fernsBreakdown { background:url("../images/taxa/fern.png") no-repeat; padding-left:40px; background-position: left;}
#fungiBreakdown { background:url("../images/taxa/fungi.png") no-repeat; padding-left:40px; background-position: left;}
#microbesBreakdown { background:url("../images/taxa/microbe.png") no-repeat; padding-left:40px; background-position: left;}*/

.olControlPanel {
    position:relative;
    top:130px;
    left: 7px;
    display:block;
    width:  24px;
    height: 24px;
    margin: 5px;
/*    background-color:red;*/
}

.olControlPanel .resetZoomItemActive {
    width:  22px;
    height: 22px;
    background-image: url("../images/map/australia.png");
}

/* error messages*/
/* for "not found" messages in public pages */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.distributionImage {
    margin-left: 50px;
}

#statistics div.distributionImage {
    display: inline;
}

#statistics div.distributionImage img {
    vertical-align: top;
    margin-top: 10px;
}

.vertical-charts div.distributionImage img {
    position: relative;
    z-index: -4;
}

#taxonChart iFrame {
    margin-top: -60px;
    position: relative;
    z-index: 0;
}

#speedo {
    position: relative;
    z-index: 2;
    float:right;
    text-align:center;
    padding-right:60px;
    margin-top:-20px;
}

a.recordsLink {
    position: relative;
    z-index: 2;
}

div.inline {
    display: inline;
}

div.contact {
    padding-bottom: 5px;
}

p.contactName {
    font-weight: bold;
}

/* painful positioning of chart label because of the dynamic generation of the div content and IE bugs */
span.taxonChartCaption {
    position:relative;
    left:575px;
    top:-110px;
    padding-left:40px;
    color: #555;
}

div#decadeChart img {
    margin-top: -100px;
}

.vertical-charts div#decadeChart img {
    margin-top: -50px;
}
/*a[target='_blank'] {
    background: url(../images/skin/external.png) center right no-repeat;
    padding-right: 13px;
}*/
