/* temporary styling for map */
#page-collections-map #map_canvas {
    border:1px solid #e8eace;
    width:738px ! important;
    height:470px;
}

.fudge {
    width: 235px ! important;
}

.abstract {
    font-size: smaller;
}

/* h2 link used for institution name on collection page - trad link is overwhelming */
#header h2 a {
    text-decoration: none;
    color: inherit;
}

/* map column is set to 329 for some reason. Wraps any text above or below the map.*/
.map-column {
    width:auto !important;
}
.list-column {
    width:755px !important;
}

/* move tabs across to where they relate to tabbed content */
#nav-tabs li a[href='#map'] {
    margin-left: 230px;
}

body {
    background:transparent url(../images/ala/header.png) center 0 repeat-x;
}

#infoSourceList {
    background-color: #E8EACE;
    padding: 10px;
    -moz-border-radius: 0 0 10px 10px; /* FF1+ */
    -webkit-border-radius: 0 0 10px 10px; /* Saf3+, Chrome */
    border-radius: 0 0 10px 10px; /* Opera 10.5, IE 9 */
}
#infoSourceList h3 { padding: 3px 0 10px 0; }

.hrgroup {
    border-right: 0 ! important;
}

div#warnings {
    /* float: left; */
    background-color: #F8F2E5;
    border: 2px solid #D75A20;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 10px;
    line-height: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
