/* temporary styling for map */
#page-collections-map #map_canvas {
    border:1px solid #e8eace;
    width:738px ! important;
    height:470px;
}

.fudge {
    width: 235px ! important;
}

.abstract {
    font-size: smaller;
}

/* h2 link used for institution name on collection page - trad link is overwhelming */
#header h2 a {
    text-decoration: none;
    color: inherit;
}

/* map column is set to 329 for some reason. Wraps any text above or below the map.*/
.map-column {
    width:auto !important;
}
.list-column {
    width:755px !important;
}

/* move tabs across to where they relate to tabbed content */
#nav-tabs li a[href='#map'] {
    margin-left: 230px;
}